html {
    background: linear-gradient(to bottom, #000000, #464646, #a1a1a1);
    height: auto !important;
  }
body {
    background: transparent;
    animation: snow 20s linear infinite;
  
    /*백그라운드 이미지 원근감느낌 이미지*/
    background-image:var(--snow-effect1-url), var(--snow-effect2-url), var(--snow-effect3-url);
  }
  
  
  /*뒷배경 움직이는 애니메이션*/
  @keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 250px 500px, 200px 200px, 150px 150px;}
  }
  