:root {
    --main-color: ;
    --sub-color:  rgb(126, 175, 254);
    --light-sub-color: rgb(223, 237, 250);
    --gradient-color: linear-gradient(to bottom, #dfedfa, #7eaffe, #ad91ff);
    --logo-url: url("../images/cvt_tgd_header_ngd.png");
    --cursor-idle-url: url("../images/cursor_1_trim.png");
    --cursor-hover-url: url("../images/cursor_2_trim.png");
    --sub-badge-viewer-url: url("../images/subBadge_som.png");
    --sub-badge-rank-url: url("../images/subBadge_maru.png");
    --top-identity-url: url("../images/nini-identity.png");
    --owner-profile-ani-url: url("../images/profile-ninetail.gif");
    --movetop-url: url("../images/movetop.png");
    --movetop-base-url: url("../images/movetop-base.png");
}