body{
    background: var(--top-identity), linear-gradient(to bottom, #b0ceeb, #7eaffe);
    background-size: 359px 200px, cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100% !important;
    height: auto !important;
}