/* desktop */
@media only screen and (hover: hover) and (pointer: fine){
    /* viewinfo */
    #board-info #viewers-area {
        font-size: 17px;
        right: 0px;
        margin-right: 1em;
        margin-top: 0.4em;
        position: inherit;
        display: inline-flex;
        align-items: center;
        color: #a8ace4;
    }

    #board-info #viewers-area .fa-user{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    #board-info #viewers-area .fa-user:before {
        content: "";
        display: block;
        background: var(--sub-badge-viewer-url) no-repeat center;
        background-size: cover;
        width: 28px;
        height: 28px;
        transition: all 0.5s;
    }

    #board-info #viewers-area .fa-user:after{
        content: "관음중인 덜렁단 ";
        margin-left: 5px;
        transition: all 0.5s;
    }

    #board-info #viewers-area #viewers{
        margin-left: 5px;
        margin-top: 3px;
    }

    #board-info #viewers-area #viewers:after { 
        content: "명"; 
        cursor : text;
        transition: all 0.5s;
    }

    /* streamer-name */
    #board-info {
        height: 85px;
    }
    
    #board-info h1 {
        height: 55px;
    }

    #board-info h1>a {
        font-weight: bold;
        font-size: 50px;
    }

    /* tgd-score */
    #board-info #score-area {
        font-size: 17px;
        color: #a8ace4;
        margin-bottom: 3px;
        margin-left: 140px;
    }

    #board-info #score-area .fa-trophy {
        display: inline-flex;
        align-items: baseline;
        margin-left: 10px;
    }

    #board-info #score-area .fa-trophy:before {
        content: "";
        display: block;
        background: var(--sub-badge-rank-url) no-repeat center;
        background-size: cover;
        width: 28px;
        height: 28px;
        transition: all 0.5s;
    }

    #board-info #score-area .fa-trophy:after{
        content: "덜렁단 전투력 ";
        margin-left: 5px;
        transition: all 0.5s;
    }

    /* Hide Button for Notice toggle */
    #article-option-area {
        display: none;
    }

    /* gradient animation */
    #board-info {
        background: var(--gradient-ani-color);
        background-size: 400% 400%;
        -webkit-animation: gradientBG 10s ease infinite;
                animation: gradientBG 10s ease infinite;
    }

    @-webkit-keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    #board-info #score-area, #board-info #viewers-area {
        text-align: center;
            
        background: linear-gradient(-45deg, #FFF 0%, #888 50%, #000 100%);
        background-size: 400% auto;

        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
            
        animation: shine 10s linear infinite;
        @keyframes shine {
            to {
            background-position: 400% center;
            }
        }
    }
}

/* mobile */
@media only screen and (hover: none) and (pointer: coarse){
    /* streamer-name */
    #board-info>h1>a {
        color: #000;
        font-size: 40px;
        font-weight: bold;
        margin-top: 5px;
        position: absolute;
    }

    /* tgd-score */
    #board-info #score-area {
        font-size: 17px;
        color: #a8ace4;
        margin-bottom: 3px;
        margin-left: 130px;
    }

    #board-info #score-area .fa-trophy {
        display: inline-flex;
        align-items: baseline;
        margin-left: 10px;
    }

    #board-info #score-area .fa-trophy:before {
        content: "";
        display: block;
        background: var(--sub-badge-rank-url) no-repeat center;
        background-size: cover;
        width: 28px;
        height: 28px;
        transition: all 0.5s;
    }

    /* viewinfo */
    #board-info #viewers-area {
        font-size: 17px;
        right: 0px;
        margin-right: 1em;
        margin-top: 0.4em;
        position: inherit;
        display: inline-flex;
        align-items: center;
        color: #a8ace4;
    }

    #board-info #viewers-area .fa-user{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    #board-info #viewers-area .fa-user:before {
        content: "";
        display: block;
        background: var(--sub-badge-viewer-url) no-repeat center;
        background-size: cover;
        width: 28px;
        height: 28px;
        transition: all 0.5s;
    }

    #board-info #viewers-area #viewers{
        margin-left: 5px;
        margin-top: 3px;
    }

    /* Hide Button for Notice toggle */
    #article-option-area {
        display: none;
    }
}