@media only screen and (hover: hover) and (pointer: fine){
    /* viewinfo */
    #board-info #viewers-area {
        font-size: 17px;
    }
    #board-info #viewers-area .fa-user{
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    #board-info #viewers-area .fa-user:before {
        content: "";
        display: block;
        background: var(--sub-badge-viewer-url) no-repeat center;
        background-size: cover;
        width: 28px;
        height: 28px;
        transition: all 0.5s;
    }

    #board-info #viewers-area .fa-user:after{
        content: "관음중인 덜렁단 ";
        margin-left: 5px;
        transition: all 0.5s;
    }

    #board-info #viewers-area {
        float: right;
        display: flex;
        align-items: center;
        color: #a8ace4;
        
    }

    #board-info #viewers-area #viewers{
        margin-left: 5px;
    }

    #board-info #viewers-area #viewers:after { 
        content: "명"; 
        cursor : text;
        transition: all 0.5s;
    }

    /* streamer-name */
    #board-info {
        height: 80px;
    }
    
    #board-info h1 {
        height: 55px;
    }

    #board-info h1>a {
        font-weight: bold;
        font-size: 50px;
    }

    /* tgd-rank */
    #board-info #score-area {
        font-size: 17px;
        color: rgba(111, 133, 233, 0.4);
    }

    #board-info #score-area .fa-trophy {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    #board-info #score-area .fa-trophy:before {
        content: "";
        display: block;
        background: var(--sub-badge-rank-url) no-repeat center;
        background-size: cover;
        width: 28px;
        height: 28px;
        transition: all 0.5s;
    }

    #board-info #score-area .fa-trophy:after{
        content: "덜렁단 전투력 ";
        margin-left: 5px;
        transition: all 0.5s;
    }

}
