:root {
    --main-color: ;
    --sub-color:  rgb(126, 175, 254);
    --light-sub-color: rgb(223, 237, 250);
    --logo-url: url("../images/cvt_tgd_header_ngd.png");
    --cursor-idle-url: url("../images/cursor_1_trim.png");
    --cursor-hover-url: url("../images/cursor_2_trim.png");
    --sub-badge-url: url("../images/subBadge_som.png");
    --top-identity: url("../images/nini-identity.png");
}
