:root {
    --main-color: ;
    --sub-color: rgb(98, 200, 234);
    --light-sub-color: rgb(165, 223, 243);
    --logo-url: url("../images/cvt_tgd_header_ngd.png");
    --cursor-idle-url: url("../images/cursor_1_trim.png");
    --cursor-hover-url: url("../images/cursor_2_trim.png");
    --sub-badge-url: url("../images/subBadge_foot.png");
}
