#board-info #viewers-area .fa-user{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
#board-info #viewers-area .fa-user:before {
    content: "";
    display: block;
    background: var(--sub-badge-url) no-repeat center;
    background-size: cover;
    width: 18px;
    height: 18px;
    transition: all 0.5s;
}

#board-info #viewers-area .fa-user:after{
    content: "덜렁단 ";
    margin-left: 5px;
    transition: all 0.5s;
}

#board-info #viewers-area {
    align-items: center;
    color: #B2889E;
}

#board-info #viewers-area #viewers{
    margin-left: 5px;
}

#board-info #viewers-area #viewers:after { 
    content: "명"; 
    cursor : text;
    transition: all 0.5s;
}

