#board-info #viewers-area .fa-user{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
#board-info #viewers-area .fa-user:before {
    color: rgba(10, 59, 84, 0);
    content: var(--sub-badge-url);
}

#board-info #viewers-area #viewers:before {
    content: "관음중인 덜렁단 ";
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: "명";
    cursor: text;
}
#board-info #viewers-area {
    float: right;
    display: flex;
    align-items: center;
}